.container {
    color: black;
    font-family: var(--font-magra-regular);
    height: calc(100vh - 70px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    scroll-padding-inline-start: 70px;
}